html {
 background-color: white;
 box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Archivo", sans-serif;
    font-size: 2.5vw;
}

#main-container {
    max-width: 1440px;
}

/* banner */
#banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h1 {
    font-stretch: expanded;
    font-weight: 900;
    font-size: 7vw;
    line-height: 80%;
    padding: 5%;
}

#banner img {
    width: 100vw;
    padding: 0% 5%;
}

/* general clothing item formatting */
.clothing-item {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.clothing-header {
    font-weight: 900;
    font-size: 8vw;
}

.clothing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clothing-img {
    padding: 7%;
    width: 80vw;
    max-width: 350px;
}

.clothing-description {
    padding: 5%;
    padding-bottom: 7%;
    text-align: center;
}

.border {
    border-radius: 10px;
    border: 0.05rem solid black;
    
}

/* rags clothing item */
#clothing-rags {
    background-color: black;
}

#clothing-rags h2, #clothing-rags p {
    color: white;
}

/* brat summer clothing item */
#clothing-brat {
    background-color: white;
}

#clothing-brat h2 {
    font-stretch: expanded;
}

#clothing-brat iframe {
    margin-top: 3.8%;
}

/* ikea clothing item */
#clothing-ikea {
    background-color: rgb(0, 0, 112);
    position: relative;
}

#ikea-title {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    position: absolute;
}

#ikea-logo {
    width: 60vw;
}

#clothing-ikea .clothing-header {
    color: white;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    left: 78%;
    top: 85%;
    z-index: 2;
}

#clothing-ikea .clothing-img {
    z-index: 1;
    padding-top: 13%;
}

#clothing-ikea .clothing-description {
    color: white;
    padding-top: 0%;
}

/* red and black clothing item */
#clothing-rouge {
    background-color: white;
}

#rouge-text {
    margin-bottom: 5%;
    padding: 5% 3%;
    z-index: 1;
    position: relative;
}

#rouge-text .clothing-header {
    padding-left: 3%;
}

#rouge-text span {
    color: rgb(133, 6, 6);
}
#rouge-text .clothing-description {
    text-align: left;
    padding: 2% 0% 2%;
}

#rose-img {
    width: 17vw;
    position: absolute;
    z-index: 0;
    right: -10%;
    bottom: -12%;
}

/* granny clothing item */
#clothing-granny {
    background-color: black;
}

#clothing-granny .clothing-header {
    color: white;
    font-stretch: expanded;
}

#clothing-granny .clothing-description {
    color: white;
}

footer {
    font-stretch: expanded;
    text-align: center;
    padding: 8%;
    font-weight: 800;
    font-size: 6.5vw;
    background-color: white;
}

@media (min-width: 576px) {
    #banner h1 {
        width: 50%;
        padding-left: 7%;
    }

    #banner img {
        width: 50%;
        padding-right: 7%;
    }

    .clothing-item {
        flex-direction: row;
    }
    .clothing-item .clothing-img {
        width: 40%;
        max-width: 500px;
    }

    .clothing-text {
        align-items: flex-start;
        margin-right: 5%;
    }

    .clothing-description {
        text-align: left;
        padding: 4% 0% 6%;
        font-size: 14pt;
        max-width: 95%;
    }

    #clothing-rags .clothing-text {
        padding-right: 5%;
        flex-basis: 60%;
    }

    #clothing-brat .clothing-header {
        padding-top: 3%;
    }

    /* ikea */
    #clothing-ikea {
        flex-direction: column;
    }

    #clothing-ikea .clothing-img {
        width:80vw;
        max-width: 500px;
    }

    #ikea-logo {
        max-width: 350px;
    }

    #rouge-text {
        order: 1;
        margin-left: 5%;
    }

    #clothing-rouge .clothing-img {
        order: 2;
    }

    #rose-img {
        right: -15%;
        bottom: -15%;
    }
}

@media (min-width: 850px) {

}
